---
---

$code-bg-color: #333333 !default;

@import "{{ site.theme }}";

body {
    background-color: #333333;
}

.page-header {
    padding: 2rem 6rem;
    text-align: center;
    background-image: url("../../img/ASMpetit.PNG");
    background-size: 175%;
    background-repeat: no-repeat;
}

.page-header h1 {
    text-shadow: -1px 0 50px #25f68b, 1px 0 50px #25f68b, 0 -1px 20px #25f68b;   
}
