---
---

//color
/*
grey black : #1B1817
dark grey : #333333
medium grey : #606c71
light grey : #aaaaaa
link grey : #d8d8d8
purple : #8d73ff
light purple : #b8a7ff
green : #25f68b
*/

//header
$header-bg-color: #333333;

// Text
$body-text-color: #dbdbdb;
$body-link-color: #606c71;

//code
$code-bg-color: #000;


@import "{{ site.theme }}";

body {
    background-color: #333333;
}

code {
    color: #25f68b;
}

table {
    font-size: 12px;
}

.date {
    color: #606c71;
    font-size: 14px;
}

.tag {
    color: #25f68b;
    font-size: 12px;
}

.page-header {
    padding: 2rem 6rem;
    text-align: center;
    background-image: url("../../img/EAX_2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.project-name {
     text-shadow: -1px 0 40px #25f68b, 1px 0 0px #25f68b, 0 -1px 10px #25f68b;
}

.main-content {
    font-size: 16px;
}

.main-content a {
    color: #d8d8d8;
    text-decoration: underline;
}

.main-content h1, .main-content h2, .main-content h4, .main-content h5, .main-content h6 {
    color: #8d73ff;
}

.main-content h2 {
    margin-top: 0rem;
}

.main-content h2 a {
    color: #8d73ff;
    text-decoration: none;
}

.main-content h3 {
    color: #7ae192;
    margin-bottom: -1rem;
}

.main-content code {
    color: #25f68b;
}

.main-content pre {
    border: none;
}

.highlight {
    background-color: #333333;
}

// MENU
.menu {
  height: 60px;
  line-height: 100%;
  border-bottom: solid 1px #8D73FF;
  position:relative;
  background-color: #1B1817;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
  letter-spacing: 2px;
}

#menu-bar {
  width: 650px;
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
  //margin-right: auto;
  //margin-left: auto;

}
#menu-bar li {
  padding: 0px 0px 2px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: normal;
  font-family: helvetica;
  font-style: normal;
  font-size: 12px;
  color: #aaaaaa;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 0px;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  color: #8D73FF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  color: #666;
}
#menu-bar ul a:hover {
  color: #8D73FF !important;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #1B1817;
  display: none;
  padding: 0;
  width: 120px;
  text-align: left;
  position: absolute;
  top: 30px;
  left: 4px;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding: 10px 1px 10px 17px;
  color:#aaaaaa !important;
  font-size:12px;
  font-style:normal;
  font-family:helvetica;
  font-weight: normal;
}
#menu-bar ul li:first-child > a {
}
#menu-bar ul li:last-child > a {
}

#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}

//highlight code synthax
/*.highlight .nt {
    color: aquamarine; //option in bash
}

.highlight .o {
    color: cornsilk; //= in bash
}

.highlight .k, .highlight .kv {
    color: #bfbc93; //instructions assembly
    font-weight: bold;
}
*/

//monokai
//$background: #272822;

.highlight {
  background-color: #272822;

  .hll {
    background-color: #49483e;
  }
  .c {
    color: #a8a38d;
  }
  .err {
    color: #960050;
    background-color: #1e0010;
  }
  .k {
    color: #66d9ef;
  }
  .l {
    color: #ae81ff;
  }
  .n {
    color: #f8f8f2;
  }
  .o {
    color: #f92672;
  }
  .p {
    color: #f8f8f2;
  }
  .cm, .cp, .c1, .cs {
    color: #a8a38d;
  }
  .ge {
    font-style: italic;
  }
  .gs {
    font-weight: bold;
  }
  .kc, .kd {
    color: #66d9ef;
  }
  .kn {
    color: #f92672;
  }
  .kp, .kr, .kt {
    color: #66d9ef;
  }
  .ld {
    color: #e6db74;
  }
  .m {
    color: #ae81ff;
  }
  .s {
    color: #e6db74;
  }
  .na {
    color: #a6e22e;
  }
  .nb {
    color: #f8f8f2;
  }
  .nc {
    color: #a6e22e;
  }
  .no {
    color: #66d9ef;
  }
  .nd {
    color: #a6e22e;
  }
  .ni {
    color: #f8f8f2;
  }
  .ne, .nf {
    color: #a6e22e;
  }
  .nl, .nn {
    color: #f8f8f2;
  }
  .nx {
    color: #a6e22e;
  }
  .py {
    color: #f8f8f2;
  }
  .nt {
    color: #f92672;
  }
  .nv {
    color: #f8f8f2;
  }
  .ow {
    color: #f92672;
  }
  .w {
    color: #f8f8f2;
  }
  .mf, .mh, .mi, .mo {
    color: #ae81ff;
  }
  .sb, .sc, .sd, .s2 {
    color: #e6db74;
  }
  .se {
    color: #ae81ff;
  }
  .sh, .si, .sx, .sr, .s1, .ss {
    color: #e6db74;
  }
  .bp, .vc, .vg, .vi {
    color: #f8f8f2;
  }
  .il {
    color: #ae81ff;
  }
  .gh {}
  .gu {
    color: #75715e;
  }
  .gd {
    color: #f92672;
  }
  .gi {
    color: #a6e22e;
  }
}

code{
  background-color: "#282C34";
  color: whitesmoke;}
pre {
  background-color: "#282C34";
  color: whitesmoke;
}
