---
---
//color
/*
grey black : #1B1817
dark grey : #333333
medium grey : #606c71
light grey : #aaaaaa
purple : #8d73ff
green : #25f68b
*/

//header
$header-bg-color: #333333;

// Text
$body-text-color: #aaaaaa;
$body-link-color: #606c71;

//code
$code-bg-color: #222222;

@import "{{ site.theme }}";

body {
    background-color: #333333;
}

.page-header {
    padding: 2rem 6rem;
    text-align: center;
    background-image: url("../../img/ASMpetittransp.PNG");
    background-size: 175%;
    background-repeat: no-repeat;
}

.project-name {
     text-shadow: -1px 0 40px #25f68b, 1px 0 0px #25f68b, 0 -1px 10px #25f68b;   
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #8d73ff;
}

// MENU
.menu {
  text-align: center;
  height: 60px;
  line-height: 100%;
  border-bottom: solid 1px #8D73FF;
  position:relative;
  background-color: #1B1817;
  padding-left: 30%;
  padding-right: 30%;
}

#menu-bar {
  text-align: center;
  width: 900px;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
}
#menu-bar li {
  padding: 0px 25px 0px 25px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: normal;
  font-family: helvetica;
  font-style: normal;
  font-size: 12px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 0px;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  color: #8D73FF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  color: #666;
}
#menu-bar ul a:hover {
  color: #8D73FF !important;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #1B1817;
  display: none;
  margin-top: 30px;
  padding: 0;
  width: 130px;
  position: inherit;
  top: 0px;
  left: 0;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 9px 10px 16px;
  color:#E7E5E5 !important;
  font-size:12px;
  font-style:normal;
  font-family:helvetica;
  font-weight: normal;
  text-shadow: 0px 0px 0px #FFFFFF;
}
#menu-bar ul li:first-child > a {
}
#menu-bar ul li:last-child > a {
}

#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}
